<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Screen Saver Management (SSM)" Language="1033" Version="0.1.0" Manufacturer="Omaxi" UpgradeCode="a7d8e2cf-3d74-4b5c-bd9a-09a0ea9fe122">
    <!-- InstallScope="perUser" and InstallPrivileges="limited" tells Windows Installer to install strictly for the current user and bypass UAC elevation prompt completely -->
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" InstallPrivileges="limited" />

    <!-- Explicitly set MSI properties to default to per-user installation without elevation -->
    <Property Id="ALLUSERS" Value="2" />
    <Property Id="MSIINSTALLPERUSER" Value="1" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Target User-Local Roaming AppData -->
      <Directory Id="AppDataFolder">
        <Directory Id="OmaxiDir" Name=".omaxi">
          <Directory Id="AppsDir" Name="apps">
            <Directory Id="INSTALLDIR" Name="ssm">
              
              <!-- Component for the TUI Manager & Start Menu Shortcut -->
              <Component Id="SSM_Executable" Guid="b72d2e1b-4d7a-4c28-94de-b03a749f12cd">
                <File Id="SSM_Exe" Source="ssm.exe" KeyPath="yes" />
                <Shortcut Id="StartMenuShortcut" Directory="ProgramMenuDir" Name="Screen Saver Management (SSM)" WorkingDirectory="INSTALLDIR" Icon="ssm_icon.ico" Advertise="yes" />
                <RemoveFolder Id="CleanINSTALLDIR" On="uninstall" />
              </Component>
              
              <!-- Components for the custom screensavers referencing omaxi-os sibling repo build paths -->
              <Component Id="Beams_Saver" Guid="c72d2e1b-4d7a-4c28-94de-b03a749f12ce">
                <File Id="Beams_Scr" Source="..\omaxi-os\art\screensavers\beams\omaxi-beams.scr" KeyPath="yes" />
              </Component>
              
              <Component Id="Bounce_Saver" Guid="d72d2e1b-4d7a-4c28-94de-b03a749f12cf">
                <File Id="Bounce_Scr" Source="..\omaxi-os\art\screensavers\bounce\omaxi-bounce.scr" KeyPath="yes" />
              </Component>
              
              <Component Id="Matrix_Saver" Guid="e72d2e1b-4d7a-4c28-94de-b03a749f12d0">
                <File Id="Matrix_Scr" Source="..\omaxi-os\art\screensavers\matrix\omaxi-matrix.scr" KeyPath="yes" />
              </Component>
              
              <Component Id="Pour_Saver" Guid="f72d2e1b-4d7a-4c28-94de-b03a749f12d1">
                <File Id="Pour_Scr" Source="..\omaxi-os\art\screensavers\pour\omaxi-pour.scr" KeyPath="yes" />
              </Component>
              
              <Component Id="Vectors_Saver" Guid="a72d2e1b-4d7a-4c28-94de-b03a749f12d2">
                <File Id="Vectors_Scr" Source="..\omaxi-os\art\screensavers\vectors\omaxi-vectors.scr" KeyPath="yes" />
              </Component>
              
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <!-- Start Menu Shortcut Folder Group: Programs/Omaxi -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Omaxi">
          <Component Id="StartMenuClean" Guid="972d2e1b-4d7a-4c28-94de-b03a749f12d3">
            <RemoveFolder Id="CleanProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Omaxi\SSM" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <!-- Icon definition for the Start Menu Shortcut -->
    <Icon Id="ssm_icon.ico" SourceFile="assets/brand/ssm.ico" />

    <!-- Feature layout combining all modules into the MSI installer -->
    <Feature Id="ProductFeature" Title="SSM Manager &amp; Savers" Level="1">
      <ComponentRef Id="SSM_Executable" />
      <ComponentRef Id="Beams_Saver" />
      <ComponentRef Id="Bounce_Saver" />
      <ComponentRef Id="Matrix_Saver" />
      <ComponentRef Id="Pour_Saver" />
      <ComponentRef Id="Vectors_Saver" />
      <ComponentRef Id="StartMenuClean" />
    </Feature>
  </Product>
</Wix>
